<h1>Lista de Aulas </h1>
<% [1,2,3].each do |vAula| %> <!-- for que genera una lista --> 

<p>Aula <%= vAula %> </p> <!-- se evalua y se visualiza  --> 
<%end%>

<% mundo = "Maru" %> 
<p><%= "muestra de nombre #{mundo}" %> </p>

