<h1>Generador de Horarios UAI</h1>
<h2>Tutor: <%= @tutor %></h2>

<p>Cargue las aulas <a href="/aulas">AQUI</a></p>
<p>Cargue los cursos <a href="/cursos">AQUI</a></p>


<h2>Cantidad de aulas cargadas: <%= @aulascargadas %></h2>
<h2>Cantidad de cursos cargados: <%= @cursoscargados %></h2>


