html, body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.no-margin{ margin: 0px;}

.be-red{background-color: #5791CC}
.white{
    color:white;
}
.large-padding {
    padding: 15px 10px;
}
.field{
    margin-top:1em;
}
.form-control{
    border: none;
    border-bottom: 1px solid;
    outline:  none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}
.btn
{
    background-color: inherit;
    border: none;
    outline: NONE;
}